/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */
   ::-webkit-scrollbar{width:2px;height:2px;}
   ::-webkit-scrollbar-button{width:2px;height:2px;}


html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}
h1 {
    padding: 0.3em;
}
.row {
    margin:unset !important;
}
.no-pad{
    padding:unset !important;
}
.h-100px{
    height:100px!important;
    overflow:hidden;
}
.h-180px{
    height:180px!important;
    overflow:hidden;
}
.h-100vh{
    height:100vh!important;
}
.loading.on{
    opacity: 0.8 !important;
    display:block !important;
}
#loadmore.on{
    opacity: 0.8 !important;
    display:block !important;
}
/*
.container-content{
    transform: translateX(-2%);
    width: 99vw !important;
    padding: unset;
    max-width: unset !important;
}
*/
.nice-select.open .list{
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;

}
.bg-custom-dark-blue{
  background-color: #1b252f!important;
}
]
.addtag:hover{
    color:greenyellow!important;
    cursor:pointer;
}
.removeThisId:hover,
.removeTag:hover{
    color:red!important;
    cursor:pointer;
}
.hash_tag:hover{
    color:#007bff !important;
}
.r18.false{
  display: none;
}
.addToFav,
.cardContainer[data-type="gif"]{
    cursor:pointer;
}
.type-gif .typeAnim-gif {
    display:inline-block !important;
}
.type-image .typeAnim-image {
    display:inline-block !important;
}
/*
img {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
*/
._lazyload{
  background-color: gray;
  opacity: 0.2;
  min-height: 50vh;
  border: 1px solid #fff;
  border-radius: 3%;
}
.ratings {
    cursor: pointer;
    transition: all 0.5s
}
.ratings.off{
    opacity: 0.5;
}
.ratings:hover {
    transform: scale(1.3);
    opacity: 1;
}
.popup_background{
    opacity:1 !important;
    background-color: white !important;
}
.JPO_open{
    cursor: pointer;
}
.to-dlimg .is-dlimg{
    display:inline-block!important;
}
/* DATE PICKER //カレンダー(入力済：黒太文字)（未入力：赤）(1.0以外：青)
    ========================================================================== */
    .datepicker-inline,
    .datepicker-inline table{
        width:100%!important;
    }
.day.highlight {
color: red;
}
.day.done{
font-weight: bold;
}
/* INDEX
   ========================================================================== */
.index .info {
height: 100vh;
background: rgba(102, 102, 102, 0.59);
padding: 0 15px;
}
.index .cont {
width: 100%;
}
.container{
    max-width: 100%!important;
}
.nice-select{
  overflow-x:hidden;
}
.nice-select.open{
  overflow-x:unset!important;
}
.randombg div{
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat ;
}
.randombg{
    background-size: cover;
}
/*  SEARCH
   ========================================================================== */
   .typeAnim-gif svg{
     stroke-width: 1;
   }
   .typeAnim-gif.done,.favAnim {
     opacity: 0.6;
   }
   .typeAnim-gif.done svg,
   .favAnim svg {
fill: white;
color: black;
stroke-width: 1;
}
.favAnim{display: none;}
.isfav .favAnim{display: block !important;}
   .abs-init {
   flex-wrap: initial;
   }
.overlayIt{
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity:0.5;
}
.slick-control.destroy{
    display:none !important;
}
.slick-control .off{
    display:none;
}
.slick-control .on{
    display:inline-block;
}
.slick-control.init .on{
    display:none;
}
.slick-control.init .off{
    display:inline-block;
}
/* TEMPLATE INDEX
   ========================================================================== */
.bg-cover{
    background-size: cover !important;
}
.index .image img {
display: none !important;
}
/* TEMPLATE
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}
.pass{display: none}

#basic {
height: 90vh;
width: 90%;
position: absolute;
background-position: top left;
background-repeat: no-repeat;
background-size: 30%;
margin: 15px;
z-index: 10;
    display: none
}

.image {
width: 100%;
height: 100vh;
background-position: center;
background-size: 70%;
background-repeat: no-repeat;
position: relative;
}
.babe{
    cursor: pointer
}
.info {
display: flex;
align-items: center;
color: #fff !important;
}
.cont {
width: 100%;
}
.name {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
background: rgba(255, 255, 255, 0.79);
}
.title,.price{
    text-align: center;
}
.template1 .title,.template1 .price,
.template2 .title,.template2 .price{
    text-align: center;
    color: #fff !important;
}
.price span {
font-size: 3.5em;
    font-family: Arial Black;
}

.title span {
font-weight: bold;
font-size: 1.5em;
font-family: Avenir Next;
}

/*IF AARTICLE*/
.article .title,.article .price {
    text-align: left !important;
}
.article .title span {
    padding-left: 5px;
    font-size: 51px;
}
.article .price p {
padding-left: 5px;
font-size: 2.1em;
font-weight: 400;
font-family: -apple-system;
}

/* TEMPLATE3&4
========================================================================== */
.template3 .info,.template4 .info {
    background: #fff !important;
}
/* TEMPLATE END
========================================================================== */
.copyr {
height: 100vh;
display: flex;
align-items: center;
}

.copyr span {
width: 100%;
font-weight: bold;
    font-size: 3em;
}
/* TEMPLATE tp-img-
========================================================================== */
.tp-img-b .info {
position: absolute;
bottom: 0;
left: 0;
right: 0;
color: #000 !important;
}
.tp-img-b .title span, .tp-img-b .price span {
font-size: 1em !Important;
}
.tp-img-b .title span {
font-weight: 400;
}
.tp-img-b .image {
background-size: contain;
}
.tp-img-b img {
display: block;
width: 100vw;
height: 100vh;
object-fit: contain;
}
#infosSup,.infosSup li {
list-style: none;
}
.infosSup li {
padding: unset;
}
.tags {
    display: inline-flex;
    flex-flow: wrap;
    white-space: nowrap;
    width: 100%;
}
.tags::-webkit-scrollbar {
    display: none;
  }
.tag1{
    display: inline-block;
border: 1px solid #007bff;
padding: 0 15px;
margin-right: 5px;
border-radius: 5px;
}
.addToFavGif,
#addToFav,
.isnewpage{
    cursor:pointer
}

@media only screen and (max-width: 992px) {
  .ft1 {
    width: 100vw;
      transform: translateX(-1%);
  }.ft4 {
    width: 100vw;
      transform: translateX(-4%);
  }
  .m-vw-100{
      width: 100vw;
  }

    .randombg{
        background-size: cover;
    }
}
/* SLICK CAROUSEL
   ========================================================================== */
   .slick-prev:before, .slick-next:before{
    color: rgba(26, 16, 16, 0.48);
   }
